/*------------------------------------*\
    MAIN
\*------------------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Custom page header */
.header {
  bcontract-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  bcontract-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  bcontract-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

div.clear {
    clear: both;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/

.brand-container {
    /* inline-block will prevent internal element wrapping */
    display:inline-block;
}
.navbar-brand {
    font-size: 16px;
}

/*------------------------------------*\
    CLIENTS
\*------------------------------------*/
.flag-container {
    float: left;
}
.client-name-container {
    float:left;
    margin-left: 15px; 
}
.client-details-info {
    float: left;
}
.client-details-flag {
    float: right;
}

.client-box {
    margin: 5px 0px 5px 0px;
}
.client-box a {
    color: white;
}
.client-header {
    background-color: #9dadc6;
    color: white;
    padding: 5px;
    bcontract-radius:10px 10px 0 0;
}
.client-details {
    background-color: #f2f2f2;
    bcontract-radius: 0 0 10px 10px;
    padding: 5px;
}
.delete-client {
    float: right;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/*------------------------------------*\
    CONTRACTS
\*------------------------------------*/
th.contract-column {
    background-color: #9dadc6;
    color: white;
}
th.contract-column a {
    color: white;
}
tr.even {
    background-color: white;
}
tr.odd {
    background-color: #f2f2f2;
}
th.centered,
td.centered {
    text-align: center;
}

/*------------------------------------*\
    INPUT ELEMENTS
\*------------------------------------*/

input[type="text"],
input[type="button"] {
    margin-bottom: 5px;
}

.search-filter {
    float: right; 
    padding: 0px; 
    margin: 0px; 
    position: absolute; 
    bottom: 0px; 
    right: 0; 
}
.search-filter-container {
    position: relative;
}

/*------------------------------------*\
    CHARTS
\*------------------------------------*/

/* How to center a group of floating divs (by making them 
   inline-block rather than float):
   http://stackoverflow.com/a/1269255/4541950
*/
.master-chart-container {
    text-align: center;
}
.chart-container {
    text-align: center; 
    font-weight: bold; 
    display: inline-block;
    margin: 5px;
    height: 300px;
}

/*------------------------------------*\
    MOBILE NAVIGATION
\*------------------------------------*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
      margin: auto auto;
      max-width: 1230px;
  }

  .navbar-brand {
      font-size: 18px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom bcontract on the jumbotron for visual effect */
  .jumbotron {
    bcontract-bottom: 0;
  }
}
