<div class="flag-container">
    <img ng-src="images/{{ client.country }}.png" />
</div>
<div class="client-name-container">
    <h2 >{{ client.firstName }} {{ client.lastName }}</h2>
</div>
<div class="clear"></div>
<br />

<form class="form-inline">
    <div class="form-group">
        <input type="text" ng-model="contract.task" placeholder="Task Name" class="form-control"/>
        <input type="text" ng-model="contract.hours" placeholder="Hours" class="form-control"/>
        <input type="text" ng-model="contract.cost" placeholder="Cost" class="form-control"/>
        <input type="button" class="btn btn-default" value="Add Contract" ng-click="addContract();"/>
    </div>
</form>

<br/>

<table class="table table-hover">
    <tr>
        <th class="contract-column">Task</th>
        <th class="contract-column">Hours</th>
        <th class="contract-column">Cost</th>
        <th class="contract-column col-xs-1"></th>
    </tr>
    <tr ng-repeat="contract in contracts" >
        <td>{{ contract.task }}</td>
        <td>{{ contract.hours }}</td>
        <td>{{ contract.cost }}</td>
        <td class="centered"><a ng-click="removeContract(contract);">Delete</a></td>
    </tr>
</table>

<br />
