<form class="form-inline">
    
    <div class="form-group col-xs-12">
        <h2>Clients</h2>

        <input type="text" ng-model="client.firstName" placeHolder="First Name" class="form-control"/>
        <input type="text" ng-model="client.lastName" placeHolder="Last Name" class="form-control"/>
        <input type="text" ng-model="client.country" placeHolder="Country" class="form-control"/>

        <input type="button" ng-click="addClient()" value="Add Client" class="btn btn-default"/>
    </div>

    <div class="clear"></div>

    <div ng-repeat="client in clients" class="col-sm-4 client-box">
        <div class="client-header">
            <a ng-href="#/clientDetails/{{ client.$id }}">{{ client.firstName }} {{ client.lastName }}</a>
            <span class="delete-client"><a ng-click="removeClient(client);">Delete</a></span>
        </div>
        <div class="client-details">
            <div class="client-details-info">
                {{ client.country }}
                <br/>
                Contracts: {{ client.contractTotals.totalContracts }}
                <br />
                Payments: ${{ client.contractTotals.totalRevenue }}
            </div>
            <div class="client-details-flag">
                <img ng-src="images/{{ client.country }}.png" />
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>
    <br/>
</form>
