<div class="search-filter-container">
    <div>
        <h2>Contracts</h2>
    </div>

    <div class="search-filter col-xs-3">
        <input class="form-control" type="text" ng-model="searchFilter" placeholder="Filter" />
    </div>

    <div class="clear"></div>
</div>

<div ng-repeat="client in clients | filter: { fullName: searchFilter }">
    <table class="table table-hover">
        <tr>
            <th class="contract-column">
                <a ng-href="#/clientDetails/{{ client.$id }}">
                    {{ client.firstName }} {{ client.lastName }}
                    ({{ countClientContracts(client) }})
                </a>
            </th>
            <th class="contract-column col-xs-1">Hours</th>
            <th class="contract-column col-xs-1">Cost</th>
        </tr>
        <tr ng-repeat="contract in client.contracts" ng-show="client.contracts">
            <td>{{ contract.task }}</td>
            <td>{{ contract.hours }}</td>
            <td>${{ contract.cost }}</td>
        </tr>
        <tr ng-show="!client.contracts">
            <td colspan="3">N/A</td>
        </tr>
    </table>
</div>