<h2>Sales Summary</h2>

<table class="table table-hover">
    <tr>
        <td>Total Clients:</td>
        <td class="col-xs-1">{{ clients.length }}</td>
    </tr>
    <tr>
        <td>Total Contracts: </td>
        <td class="col-xs-1">{{ totalContracts }}</td>
    </tr>
    <tr>
        <td>Total Billable Hours: </td>
        <td class="col-xs-1">{{ totalBillableHours }}</td>
    </tr>
    <tr>
        <td>Total Revenue: </td>
        <td class="col-xs-1">${{ totalRevenue }}</td>
    </tr>
</table>

<b>**NOTE**</b>
<ul>
    <li>All data and graphs are updated in real time</li>
    <li>Add or delete a client or contract and watch the graphs update in all open browsers</li>
    <li>Feel free to modify/add/remove data, I have backups!</li>
</ul>

<!-- Charts can be configured using the 'options' directive. For a list of all
     available options, see the following link:
     http://www.chartjs.org/docs/#getting-started-global-chart-configuration -->
<div class="master-chart-container">
    <div class="chart-container">
        Total Payments
        <br />
        <canvas 
            width="250" 
            height="250" 
            id="pie" 
            class="chart chart-pie" 
            data="dataPieChart" 
            labels="labelsPieChart" 
            legend="false" 
            options="{tooltipTemplate : '<%if (label){%><%=label%>: <%}%>$<%= value %>'}"></canvas> 
    </div>

    <div class="chart-container">
        Average Hourly Rate ($)
        <br />
        <canvas 
            width="250" 
            height="250" 
            id="bar" 
            class="chart chart-bar" 
            data="dataBarChart" 
            labels="labelsBarChart" 
            series="seriesBarChart" 
            legend="false" 
            options="{ showTooltips: true, scaleLabel: '<%= \' \' + value%>', tooltipTemplate : '<%if (label){%><%=label%>: <%}%>$<%= value.toFixed(2) %>', multiTooltipTemplate: '<%=datasetLabel%>: $<%= value.toFixed(2) %>' }"></canvas> 
    </div>

    <div class="chart-container">
        Total Contracts
        <br />
        <canvas 
            width="250" 
            height="250" 
            id="doughnut" 
            class="chart chart-doughnut" 
            data="dataDoughnutChart" 
            labels="labelsDoughnutChart"></canvas> 
    </div>

    <div class="clear"></div>

</div>
