<div ng-controller="NavbarCtrl">
    <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/')}"><a ng-href="#/">Stats</a></li>
        <li ng-class="{ active: isActive('/clientList') || isActive('/clientDetails')}"><a ng-href="#/clientList">Clients</a></li>
        <li ng-class="{ active: isActive('/contractList')}"><a ng-href="#/contractList">Contracts</a></li>
    </ul>
</div>